.header {
    max-width: 1440px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #31302f;
    &-item {
        display: flex;
    }
    &__mail {
        color: $white;
        text-decoration: none;
        transition: .3s ease;
        &:hover {
            color: $blue;
        }
    }
}

.logo {
    font-family: 'Frijole', cursive;
    &__link {
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        color: $blue;
    }
}

.logo p>span {
    font-family: 'Frijole', cursive;
    font-size: 24px;
    font-weight: 400;
    color: $gold;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        list-style-type: none;
    }
    &__item:not(:last-child) {
        margin-right: 45px;
    }
    &__link {
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        padding-bottom: 7px;
        transition: background-size .3s;
        &:hover {
            color: $blue;
            background-size: 100% 2px;
        }
    }
}