@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
:root {
    font-size: 16px;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    color: $white;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #31302f;
}

.wrapper {
    max-width: 1470px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-hero {
    margin-top: 180px;
    margin-bottom: 250px;
}

.hero {
    max-width: 750px;
    &__title {
        position: relative;
        font-size: 42px;
        padding-bottom: 50px;
        &::before {
            content: '<h1>';
            position: absolute;
            display: block;
            font-size: 14px;
            color: $gray;
            top: -24px;
            left: -2px;
        }
        &::after {
            content: '</h1>';
            position: absolute;
            display: block;
            font-size: 14px;
            color: $gray;
            top: 116px;
            left: -2px;
        }
    }
    &__subtitle {
        display: block;
        font-size: 32px;
        padding-bottom: 14px;
        &--item {
            color: $gold;
        }
    }
    &__description {
        padding-bottom: 30px;
        font-size: 18px;
        line-height: 1.8;
        text-align: left;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.btn {
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    width: 110px;
    text-align: center;
    border: 2px solid $blue;
    padding: 14px 44px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    margin-bottom: 50px;
}

.btn::before {
    background: $blue;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn4::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-35deg);
}

.btn4:hover::before {
    height: 380%;
}

.section-portfolio {
    margin-bottom: 150px;
}

.portfolio {
    &__title {
        margin-bottom: 20px;
    }
    &__description {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.8;
        text-align: left;
    }
}

.columns__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px -8px;
}

.columns__column {
    padding: 0px 8px;
    flex: 0 1 48%;
    margin-bottom: 8px;
    &__item {}
}

.item {
    &__row {
        display: flex;
        align-items: flex-start;
        border: 2px solid #575757;
        border-radius: 5px;
        background-color: #575757;
        margin-bottom: 8px;
    }
    &__image {
        flex: 0 0 370px;
        &--img {
            max-width: 370px;
            vertical-align: middle;
            padding: 5px;
        }
    }
    &__body {
        flex: 1 1 auto;
        padding: 0px 7px 0px 7px;
    }
    &__title {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
        &--colorized {
            color: $gold;
        }
    }
    &__text {
        text-align: center;
        line-height: 1.4;
    }
}