.footer {
    max-width: 1470px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #31302f;
    margin-bottom: 50px;
    @media (max-width: 1440px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 990px) {
        max-width: 720px;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width: 767px) {
        max-width: 540px;
    }
    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.logo {
    &__text {
        font-family: 'Montserrat Alternates', sans-serif;
        display: block;
        font-size: 12px;
        margin-top: -8px;
        @media (max-width: 990px) {
            text-align: center;
        }
        @media (max-width: 576px) {
            margin-bottom: 15px;
        }
        &--sizing {
            @media (max-width: 325px) {
                font-size: 20px;
            }
        }
    }
    &__link {
        @media (max-width: 990px) {
            text-align: center;
        }
    }
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 576px) {
        flex-direction: column;
    }
}

.nav {
    &__item:not(:last-child) {
        @media (max-width: 576px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

.footer-item {
    &__text {
        text-align: center;
        @media (max-width: 990px) {
            text-align: center;
        }
    }
    @media (max-width: 990px) {
        flex: 0 1 100%;
        margin: 30px 0px 15px 0px;
    }
    @media (max-width: 576px) {
        margin: 10px 0px 15px 0px;
    }
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    // .footer-social__item
    &__item {
        margin-right: 10px;
        margin-left: 18px;
    }
    // .footer-social__link
    &__link {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid #575757;
        background-color: #575757;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            background-color: #05a4fa;
            border: 1px solid #05a4fa;
        }
    }
    // .footer-social__vk
    &__vk {
        background-size: 30px 30px;
        background-image: url(../../../img/vk.svg);
    }
    &__telegram {
        background-size: 28px 28px;
        background-image: url(../../../img/telegram.svg);
    }
    &__mail {
        background-size: 30px 30px;
        background-image: url(../../../img/mail.svg);
    }
    @media (max-width: 990px) {
        justify-content: center;
    }
}