.footer {
    max-width: 1470px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #31302f;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}